<?xml version="1.0" encoding="utf-8" ?>
<TestSite xmlns="http://schemas.microsoft.com/windows/ProtocolsTest/2007/07/TestConfig"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Properties>
    <!--Primary SUT configuration resources section.-->
    <Property name="userPassword" value="Password01!" />

    <!-- Test suite MS-ASAIRS section begins. All the configuration resources should be in this section.-->
    <Property name="MSASAIRSUser01" value="MSASAIRS_User01" />
    <Property name="MSASAIRSUser02" value="MSASAIRS_User02" />
    <!-- Test suite MS-ASAIRS section ends. -->

    <!-- Test suite MS-ASCAL section begins. All the configuration resources should be in this section.-->
    <Property name="MSASCALUser01" value="MSASCAL_User01" />
    <Property name="MSASCALUser02" value="MSASCAL_User02" />
    <!-- Test suite MS-ASCAL section ends. -->

    <!-- Test suite MS-ASCMD section begins. All the configuration resources should be in this section.-->
    <Property name="MSASCMDUser01" value="MSASCMD_User01" />
    <Property name="MSASCMDUser02" value="MSASCMD_User02" />
    <Property name="MSASCMDUser03" value="MSASCMD_User03" />
    <Property name="MSASCMDUser04" value="MSASCMD_User04" />
    <Property name="MSASCMDUser05" value="MSASCMD_User05" />
    <Property name="MSASCMDUser06" value="MSASCMD_User06" />
    <Property name="MSASCMDUser07" value="MSASCMD_User07" />
    <Property name="MSASCMDUser08" value="MSASCMD_User08" />
    <Property name="MSASCMDUser09" value="MSASCMD_User09" />
    <Property name="MSASCMDUser10" value="MSASCMD_User10" />
    <Property name="MSASCMDUser11" value="MSASCMD_User11" />
    <Property name="MSASCMDUser12" value="MSASCMD_User12" />
    <Property name="MSASCMDUser13" value="MSASCMD_User13" />
    <Property name="MSASCMDUser14" value="MSASCMD_User14" />
    <Property name="MSASCMDUser15" value="MSASCMD_User15" />
    <Property name="MSASCMDUser16" value="MSASCMD_User16" />
    <Property name="MSASCMDUser17" value="MSASCMD_User17" />
    <Property name="MSASCMDUser18" value="MSASCMD_User18" />
    <Property name="MSASCMDUser19" value="MSASCMD_User19" />
    <Property name="MSASCMDSearchUser01" value="MSASCMD_SearchUser01" />
    <Property name="MSASCMDSearchUser02" value="MSASCMD_SearchUser02" />
    <Property name="MSASCMDTestGroup" value="MSASCMD_TestGroup" />
    <Property name="MSASCMDLargeGroup" value="MSASCMD_LargeGroup" />
    <Property name="MSASCMDSharedFolder" value="MSASCMD_SharedFolder" />
    <Property name="MSASCMDNonEmptyDocument" value="MSASCMD_Non-emptyDocument.txt" />
    <Property name="MSASCMDEmptyDocument" value="MSASCMD_EmptyDocument.txt" />
    <Property name="MSASCMDUser01Photo" value="MSASCMD_User01Photo.jpg" />
    <Property name="MSASCMDUser02Photo" value="MSASCMD_User02Photo.jpg" />
    <Property name="MSASCMDPfxFileName" value="MSASCMD_PfxFile.pfx" />
    <Property name="MSASCMDEmailSubjectName" value="MSASCMD_SecureEmailForTest" />
    <!-- Test suite MS-ASCMD section ends. -->

    <!-- Test suite MS-ASCNTC section begins. All the configuration resources should be in this section.-->
    <Property name="MSASCNTCUser01" value="MSASCNTC_User01" />
    <Property name="MSASCNTCUser02" value="MSASCNTC_User02" />
    <!-- Test suite MS-ASCNTC section ends. -->

    <!-- Test suite MS-ASCON section begins. All the configuration resources should be in this section.-->
    <Property name="MSASCONUser01" value="MSASCON_User01" />
    <Property name="MSASCONUser02" value="MSASCON_User02" />
    <Property name="MSASCONUser03" value="MSASCON_User03" />
    <!-- Test suite MS-ASCON section ends. -->
   
    <!-- Test suite MS-ASDOC section begins. All the configuration resources should be in this section.-->
    <Property name="MSASDOCUser01" value="MSASDOC_User01" />
    <Property name="MSASDOCSharedFolder" value="MSASDOC_SharedFolder" />
    <Property name="MSASDOCVisibleFolder" value="MSASDOC_VisibleFolder" />
    <Property name="MSASDOCHiddenFolder" value="MSASDOC_HiddenFolder" />
	<Property name="MSASDOCVisibleDocument" value="MSASDOC_VisibleDocument.txt" />
    <Property name="MSASDOCHiddenDocument" value="MSASDOC_HiddenDocument.txt" />
    <!-- Test suite MS-ASDOC section ends. -->

    <!-- Test suite MS-ASEMAIL section begins. All the configuration resources should be in this section.-->
    <Property name="MSASEMAILUser01" value="MSASEMAIL_User01" />
    <Property name="MSASEMAILUser02" value="MSASEMAIL_User02" />
    <Property name="MSASEMAILUser03" value="MSASEMAIL_User03" />
    <Property name="MSASEMAILUser04" value="MSASEMAIL_User04" />
    <Property name="MSASEMAILUser05" value="MSASEMAIL_User05" />
    <!-- Test suite MS-ASEMAIL section ends. -->

    <!-- Test suite MS-ASHTTP section begins. All the configuration resources should be in this section.-->
    <Property name="MSASHTTPUser01" value="MSASHTTP_User01" />
    <Property name="MSASHTTPUser02" value="MSASHTTP_User02" />
    <Property name="MSASHTTPUser03" value="MSASHTTP_User03" />
    <Property name="MSASHTTPUser04" value="MSASHTTP_User04" />
    <!-- Test suite MS-ASHTTP section ends. -->

    <!-- Test suite MS-ASNOTE section begins. All the configuration resources should be in this section.-->
    <Property name="MSASNOTEUser01" value="MSASNOTE_User01" />
    <!-- Test suite MS-ASNOTE section ends. -->
	
    <!-- Test suite MS-ASPROV section begins. All the configuration resources should be in this section.-->
    <Property name="MSASPROVUser01" value="MSASPROV_User01" />
    <Property name="MSASPROVUser02" value="MSASPROV_User02" />
    <Property name="MSASPROVUser03" value="MSASPROV_User03" />
    <Property name="MSASPROVUserPolicy01" value="MSASPROV_UserPolicy01" />
    <Property name="MSASPROVUserPolicy02" value="MSASPROV_UserPolicy02" />
    <!-- Test suite MS-ASPROV section ends. -->

    <!-- Test suite MS-ASRM section begins. All the configuration resources should be in this section.-->
    <Property name="MSASRMUser01" value="MSASRM_User01" />
    <Property name="MSASRMUser02" value="MSASRM_User02" />
    <Property name="MSASRMUser03" value="MSASRM_User03" />
    <Property name="MSASRMUser04" value="MSASRM_User04" />
    <Property name="MSASRMADUser" value="MSASRM_ADUser" />
    <Property name="MSASRMSuperUserGroup" value="MSASRM_SuperUserGroup" />
    <Property name="MSASRMAllRights_AllowedTemplate" value="MSASRM_AllRights_AllowedTemplate" />
    <Property name="MSASRMView_AllowedTemplate" value="MSASRM_View_AllowedTemplate" />
    <Property name="MSASRMView_ReplyAll_AllowedTemplate" value="MSASRM_ViewReplyAll_AllowedTemplate" />
    <Property name="MSASRMView_Reply_AllowedTemplate" value="MSASRM_ViewReply_AllowedTemplate" />
    <Property name="MSASRMView_Reply_ReplyAll_AllowedTemplate" value="MSASRM_ViedwReplyReplyAll_AllowedTemplate" />
    <Property name="MSASRMEdit_Export_NotAllowedTemplate" value="MSASRM_EditExport_NotAllowedTemplate" />
    <Property name="MSASRMExport_NotAllowedTemplate" value="MSASRM_Export_NotAllowedTemplate" />
    <Property name="MSASRMReplyAll_NotAllowedTemplate" value="MSASRMReplyAll_NotAllowedTemplate" />
    <!-- Test suite MS-ASRM section ends. -->

    <!-- Test suite MS-ASTASK section begins. All the configuration resources should be in this section.-->
    <Property name="MSASTASKUser01" value="MSASTASK_User01" />
    <!-- Test suite MS-ASTASK section ends. -->
    <Property name="Exchange2016" value="Microsoft Exchange Server 2016" />
    <Property name="Exchange2013" value="Microsoft Exchange Server 2013" />
    <Property name="Exchange2010" value="Microsoft Exchange Server 2010" />
    <Property name="Exchange2007" value="Microsoft Exchange Server 2007" />

    <!--Primary SUT configuration resources section ends.-->
  </Properties>
</TestSite>
