<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>

      <customBinding>
        <binding name="BasicHttpBinding_ICellStorages" closeTimeout="00:01:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00">
          <wopiMessageEncoding encoding="utf-8" >
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </wopiMessageEncoding>
          <httpTransport allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="19965536" maxBufferPoolSize="524288" maxReceivedMessageSize="19965536" transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
        <binding name="BasicHttpsBinding_ICellStorages" closeTimeout="00:01:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00">
          <wopiMessageEncoding encoding="utf-8" >
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </wopiMessageEncoding>
          <httpsTransport allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="19965536" maxBufferPoolSize="524288" maxReceivedMessageSize="19965536" transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="wopiMessageEncoding" type="Microsoft.Protocols.TestSuites.Common.WOPIMessageEncodingBindingSection, Common"/>
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint binding="customBinding" bindingConfiguration="BasicHttpBinding_ICellStorages" contract="ICellStorages" name="BasicHttpBinding_ICellStorages"/>
      <endpoint binding="customBinding" bindingConfiguration="BasicHttpsBinding_ICellStorages" contract="ICellStorages" name="BasicHttpsBinding_ICellStorages"/>
    </client>
  </system.serviceModel>
</configuration>
