################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExchangeActiveSync/Source/Common/obj/Debug
/ExchangeActiveSync/Source/MS-ASAIRS/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASAIRS/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASCAL/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASCAL/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASCMD/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASCMD/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASCNTC/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASCNTC/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASCON/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASCON/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASDOC/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASDOC/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASEMAIL/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASEMAIL/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASHTTP/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASHTTP/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASNOTE/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASNOTE/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASPROV/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASPROV/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASRM/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASRM/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASTASK/Adapter/obj/Debug
/ExchangeActiveSync/Source/MS-ASTASK/TestSuite/obj/Debug
/ExchangeActiveSync/Source/MS-ASWBXML/obj/Debug
/ExchangeActiveSync/Source/.vs/ExchangeServerEASProtocolTestSuites/v16/.suo
