################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharePoint/Source/MS-SITESS/TestSuite/obj/Debug
