################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileSyncandWOPI/Source/MS-ONESTORE/.vs/MS-ONESTORE/v16
/SharePoint/Source/MS-VERSS/.vs/MS-VERSS/v16
/ExchangeMAPI/Source
/SharePoint/Source/MS-DWSS/Adapter/obj/Debug
/SharePoint/Source/MS-DWSS/TestSuite/obj/Debug
/SharePoint/Source/Common/obj/Debug
/ExchangeActiveSync/Source
/SharePoint/Source
