<?xml version="1.0" encoding="utf-8" ?>
<TestSite xmlns="http://schemas.microsoft.com/windows/ProtocolsTest/2007/07/TestConfig"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Properties>
    <!--Primary SUT configuration resources section.-->
    <!-- Test suite MS-OXWSATT section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSATTUser01" value="MSOXWSATT_User01" />
    <Property name="MSOXWSATTUser01Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSATT section ends. -->

    <!-- Test suite MS-OXWSBTRF section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSBTRFUser01" value="MSOXWSBTRF_User01" />
    <Property name="MSOXWSBTRFUser01Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSBTRF section ends. -->

    <!-- Test suite MS-OXWSCONT section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSCONTUser01" value="MSOXWSCONT_User01" />
    <Property name="MSOXWSCONTUser01Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSCONT section ends. -->

    <!-- Test suite MS-OXWSCORE section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSCOREPublicFolderMailbox" value="MSOXWSCORE_PublicFolderMailbox" />
    <Property name="MSOXWSCOREPublicFolderMailboxPrefix" value="PublicFolderMailbox_" />

    <Property name="MSOXWSCOREPublicFolder" value="MSOXWSCORE_PublicFolder" />
    <Property name="MSOXWSCOREUser01" value="MSOXWSCORE_User01" />
    <Property name="MSOXWSCOREUser01Password" value="Ap6zF1#uP4l-+" />
	 <Property name="MSOXWSCOREUser02" value="MSOXWSCORE_User02" />
    <Property name="MSOXWSCOREUser02Password" value="Ap6zF1#uP4l-" />
    <!-- Test suite MS-OXWSCORE section ends. -->

    <!-- Test suite MS-OXWSFOLD section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSFOLDUser01" value="MSOXWSFOLD_User01" />
    <Property name="MSOXWSFOLDUser01Password" value="Ap6zF1#uP4l-+" />
    <Property name="MSOXWSFOLDUser02" value="MSOXWSFOLD_User02" />
    <Property name="MSOXWSFOLDUser02Password" value="Ap6zF1#uP4l-+" />
	<Property name="MSOXWSFOLDManagedFolder1" value="MSOXWSFOLD_ManagedFolder1" />
    <Property name="MSOXWSFOLDManagedFolder2" value="MSOXWSFOLD_ManagedFolder2" />
    <!-- Test suite MS-OXWSFOLD section ends. -->
   
    <!-- Test suite MS-OXWSMSG section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSMSGUser01" value="MSOXWSMSG_User01" />
    <Property name="MSOXWSMSGUser01Password" value="Ap6zF1#uP4l-+" />
    <Property name="MSOXWSMSGUser02" value="MSOXWSMSG_User02" />
    <Property name="MSOXWSMSGUser02Password" value="Ap6zF1#uP4l-+" />
	<Property name="MSOXWSMSGUser03" value="MSOXWSMSG_User03" />
    <Property name="MSOXWSMSGUser03Password" value="Ap6zF1#uP4l-+" />
	<Property name="MSOXWSMSGRoom01" value="MSOXWSMSG_Room01" />
    <Property name="MSOXWSMSGRoom01Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSMSG section ends. -->

    <!-- Test suite MS-OXWSMTGS section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSMTGSUser01" value="MSOXWSMTGS_User01" />
    <Property name="MSOXWSMTGSUser01Password" value="Ap6zF1#uP4l-+" />
    <Property name="MSOXWSMTGSUser02" value="MSOXWSMTGS_User02" />
    <Property name="MSOXWSMTGSUser02Password" value="Ap6zF1#uP4l-+" />
	<Property name="MSOXWSMTGSRoom01" value="MSOXWSMTGS_Room01" />
    <Property name="MSOXWSMTGSRoom01Password" value="Ap6zF1#uP4l-+" />
    <Property name="MSOXWSMTGSUser03" value="MSOXWSMTGS_User03" />
    <Property name="MSOXWSMTGSUser03Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSMTGS section ends. -->

    <!-- Test suite MS-OXWSSYNC section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSSYNCUser01" value="MSOXWSSYNC_User01" />
    <Property name="MSOXWSSYNCUser01Password" value="Ap6zF1#uP4l-+" />
    <Property name="MSOXWSSYNCUser02" value="MSOXWSSYNC_User02" />
    <Property name="MSOXWSSYNCUser02Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSSYNC section ends. -->
	
    <!-- Test suite MS-OXWSTASK section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXWSTASKUser01" value="MSOXWSTASK_User01" />
    <Property name="MSOXWSTASKUser01Password" value="Ap6zF1#uP4l-+" />
    <!-- Test suite MS-OXWSTASK section ends. -->

    <!--Primary SUT configuration resources section ends.-->
  </Properties>
</TestSite>
