<?xml version="1.0" encoding="utf-8" ?>
<TestSite xmlns="http://schemas.microsoft.com/windows/ProtocolsTest/2007/07/TestConfig"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Note: The property values are case insensitive unless otherwise specified. -->
  <Properties>
	<!-- Http time out section begins. -->
	<Property name="ExecutionTimeout" value="300" />
	<!-- Http time out section ends. --> 
   
	<!-- Test suite MS-SITESS section begins. All the configuration resources should be in this section.-->
    <Property name="MSSITESSSiteCollectionName" value="MSSITESS_SiteCollection" />    
    <Property name="MSSITESSSite" value="MSSITESS_Site" />
    <Property name="MSSITESSNormalSubSite" value="MSSITESS_NormalSubSite" /> 
    <Property name="MSSITESSSpecialSubSite" value="MSSITESS_SpecialSubSite" />
	<Property name="MSSITESSDocumentLibrary" value="MSSITESS_DocumentLibrary" />
	<Property name="MSSITESSSubSiteDocumentLibrary" value="MSSITESS_SubSite_DocumentLibrary" />
	<Property name="MSSITESSTestData" value="MSSITESS_TestData.txt" />
	<Property name="MSSITESSCustomPage" value="MSSITESS_CustomPage.aspx" />		
    <!-- Test suite MS-SITESS section ends. -->
	
	<!-- Test suite MS-VERSS section begins. All the configuration resources should be in this section.-->
    <Property name="MSVERSSSiteCollectionName" value="MSVERSS_SiteCollection" />
    <!-- Test suite MS-VERSS section ends. -->
	
	<!-- Test suite MS-DWSS section begins. All the configuration resources should be in this section.-->
    <Property name="MSDWSSSiteCollectionName" value="MSDWSS_SiteCollection" />
    <Property name="MSDWSSSiteDocumentWorkpace" value="MSDWSS_SiteCollection_DocumentWorkspace" />    
    <Property name="MSDWSSSite" value="MSDWSS_Site" />    
    <Property name="MSDWSSTestFolder" value="MSDWSS_TestFolder" />
    <Property name="MSDWSSTestData" value="MSDWSS_TestData.txt" />
    <Property name="MSDWSSInheritPermissionSite" value="MSDWSS_InheritPermissionSite" />
    <Property name="MSDWSSNoneRoleUser" value="MSDWSS_NoneRole" />
    <Property name="MSDWSSNoneRoleUserPassword" value="4FK_H##3CL1ka" />
    <Property name="MSDWSSReaderRoleUser" value="MSDWSS_ReaderRole" />
    <Property name="MSDWSSReaderRoleUserPassword" value="4FK_H##3CL1ka" />
    <Property name="MSDWSSDocumentLibrary" value="MSDWSS_DocumentLibrary" />
    <Property name="MSDWSSGroupName" value="MSDWSS_CustomGroup" />
    <Property name="MSDWSSGroupOwner" value="MSDWSS_GroupOwner" />
    <Property name="MSDWSSGroupOwnerPassword" value="4FK_H##3CL1ka" />	
    <!-- Test suite MS-DWSS section ends. -->
	
	<!-- Test suite MS-LISTSWS section begins. All the configuration resources should be in this section.-->
    <Property name="MSLISTSWSSiteCollectionName" value="MSLISTSWS_SiteCollection" />
	<Property name="MSLISTSWSDocumentLibrary" value="MSLISTSWS_DocumentLibrary" />	
    <!-- Test suite MS-LISTSWS section ends. -->
	
	<!-- Test suite MS-MEETS section begins. All the configuration resources should be in this section.-->
	<Property name="MSMEETSSiteCollectionName" value="MSMEETS_SiteCollection" />
    <Property name="MSMEETSUser" value="MSMEETS_User" />
	<Property name="MSMEETSUserPassword" value="4FK_H##3CL1ka" />	
    <!-- Test suite MS-MEETS section ends. -->
		
	<!-- Test suite MS-WEBSS section begins. All the configuration resources should be in this section.-->
	<Property name="MSWEBSSSiteCollectionName" value="MSWEBSS_SiteCollection" />
	<Property name="MSWEBSSDocumentLibrary" value="MSWEBSS_DocumentLibrary" />
	<Property name="MSWEBSSSite" value="MSWEBSS_Site" />
	<Property name="MSWEBSSSiteDescription" value="MSWEBSS_SiteDescription" />
	<Property name="MSWEBSSSiteTitle" value="MSWEBSS_SiteTitle" />
	<Property name="MSWEBSSTestData" value="MSWEBSS_TestData.docx" />	
    <!-- Test suite MS-WEBSS section ends. -->
	
	<!-- Test suite MS-WDVMODUU section begins. All the configuration resources should be in this section.-->
	<Property name="MSWDVMODUUSiteCollectionName" value="MSWDVMODUU_SiteCollection" />
	<Property name="MSWDVMODUUDocumentLibrary1" value="MSWDVMODUU_DocumentLibrary1" />
	<Property name="MSWDVMODUUDocumentLibrary2" value="MSWDVMODUU_DocumentLibrary2" />
	<Property name="MSWDVMODUUTestFolder" value="MSWDVMODUU_TestFolder" />
	<Property name="MSWDVMODUUTestData1" value="MSWDVMODUU_TestData1.txt" />
	<Property name="MSWDVMODUUTestData2" value="MSWDVMODUU_TestData2.txt" />
	<Property name="MSWDVMODUUTestData3" value="MSWDVMODUU_TestData3.txt" />	
    <!-- Test suite MS-WDVMODUU section ends. -->
	
	<!-- Test suite MS-OUTSPS section begins. All the configuration resources should be in this section.-->
	<Property name="MSOUTSPSSiteCollectionName" value="MSOUTSPS_SiteCollection" />    
    <!-- Test suite MS-OUTSPS section ends. -->
	
	<!-- Test suite MS-WWSP section begins. All the configuration resources should be in this section.-->
	<Property name="MSWWSPSiteCollectionName" value="MSWWSP_SiteCollection" />
	<Property name="MSWWSPWorkflowName" value="MSWWSP_Workflow" />
	<Property name="MSWWSPWorkflowHistoryList" value="MSWWSP_WorkflowHistoryList" />
	<Property name="MSWWSPWorkflowTaskList" value="Tasks" />
	<Property name="MSWWSPDocumentLibrary" value="MSWWSP_DocumentLibrary" />
	<Property name="MSWWSPUserGroupName" value="MSWWSP_UserGroup" />
	<Property name="MSWWSPUser" value="MSWWSP_User" />
	<Property name="MSWWSPUserPassword" value="4FK_H##3CL1ka" />
    <!-- Test suite MS-WWSP section ends. -->
	
	<!-- Test suite MS-SHDACCWS section begins. All the configuration resources should be in this section.-->
	<Property name="MSSHDACCWSSiteCollectionName" value="MSSHDACCWS_SiteCollection" />
	<Property name="MSSHDACCWSSite" value="MSSHDACCWS_Site" />
	<Property name="MSSHDACCWSDocumentLibrary" value="MSSHDACCWS_DocumentLibrary" />
	<Property name="MSSHDACCWSLockedTestData" value="MSSHDACCWS_LockedTestData.txt" />
	<Property name="MSSHDACCWSCoStatusTestData" value="MSSHDACCWS_CoStatusTestData.txt" />
	<Property name="MSSHDACCWSTestData" value="MSSHDACCWS_TestData.txt" />
    <!-- Test suite MS-SHDACCWS section ends. -->
	
	<!-- Test suite MS-VIEWSS section begins. All the configuration resources should be in this section.-->
	<Property name="MSVIEWSSSiteCollectionName" value="MSVIEWSS_SiteCollection" />
	<Property name="MSVIEWSSViewListName" value="MSVIEWSS_ViewList" />
	<Property name="MSVIEWSSListItem1" value="MSVIEWSS_ListItem1" />
	<Property name="MSVIEWSSListItem2" value="MSVIEWSS_ListItem2" />
	<Property name="MSVIEWSSListItem3" value="MSVIEWSS_ListItem3" />
	<Property name="MSVIEWSSListItem4" value="MSVIEWSS_ListItem4" />
	<Property name="MSVIEWSSListItem5" value="MSVIEWSS_ListItem5" />
	<Property name="MSVIEWSSListItem6" value="MSVIEWSS_ListItem6" />
	<Property name="MSVIEWSSListItem7" value="MSVIEWSS_ListItem7" />
    <!-- Test suite MS-VIEWSS section ends. -->
	
	<!-- Test suite MS-OFFICIALFILE section begins. All the configuration resources should be in this section.-->
	<Property name="MSOFFICIALFILESiteCollectionName" value="MSOFFICIALFILE_SiteCollection" />
	<Property name="MSOFFICIALFILERoutingRepositorySite" value="MSOFFICIALFILE_RoutingRepository" />
	<Property name="MSOFFICIALFILENoRoutingRepositorySite" value="MSOFFICIALFILE_NoRoutingRepository" />
	<Property name="MSOFFICIALFILEEnabledParsingRepositorySite" value="MSOFFICIALFILE_EnabledParsingRepository" />
	<Property name="MSOFFICIALFILEDropOffLibrary" value="Drop Off Library" />
	<Property name="MSOFFICIALFILEDocumentRuleLocationLibrary" value="MSOFFICIALFILE_DocumentRuleLocationLibrary" />
	<Property name="MSOFFICIALFILENoEnforceLibrary" value="MSOFFICIALFILE_NoEnforceLibrary" />
	<Property name="MSOFFICIALFILEDocumentSetLocationLibrary" value="MSOFFICIALFILE_DocumentSetLocationLibrary" />
	<Property name="MSOFFICIALFILEDocumentSetName" value="MSOFFICIALFILE_DocumentSetName" />
	<Property name="MSOFFICIALFILEReadUser" value="MSOFFICIALFILE_User" />
	<Property name="MSOFFICIALFILEReadUserPassword" value="4FK_H##3CL1ka" />
	<Property name="MSOFFICIALFILEHolds" value="MSOFFICIALFILE_Holds" />
    <!-- Test suite MS-OFFICIALFILE section ends. -->
	
	<!-- Test suite MS-AUTHWS section begins. All the configuration resources should be in this section.-->
	<Property name="MSAUTHWSFormsWebAPPName" value="MSAUTHWS_FormsWebAPP" />
	<Property name="MSAUTHWSFormsWebAPPPort" value="50000" />
	<Property name="MSAUTHWSFormsWebAPPHTTPSPort" value="50001" />
	<Property name="MSAUTHWSPassportWebAPPName" value="MSAUTHWS_PassportWebAPP" />
	<Property name="MSAUTHWSPassportWebAPPPort" value="50002" />
	<Property name="MSAUTHWSPassportWebAPPHTTPSPort" value="50003" />
	<Property name="MSAUTHWSNoneWebAPPName" value="MSAUTHWS_NoneWebAPP" />
	<Property name="MSAUTHWSNoneWebAPPPort" value="50004" />
	<Property name="MSAUTHWSNoneWebAPPHTTPSPort" value="50005" />
	<Property name="MSAUTHWSWindowsWebAPPName" value="MSAUTHWS_WindowsAPP" />
	<Property name="MSAUTHWSWindowsWebAPPPort" value="50006" />
	<Property name="MSAUTHWSWindowsWebAPPHTTPSPort" value="50007" /> 
    <Property name="httpsPortNumberOnAdminSite" value="9443" />    
    <Property name="httpsPortNumberOnSUTWebSite" value="443" />
    <!-- Test suite MS-AUTHWS section ends. -->
	
	<!-- Test suite MS-CPSWS section begins. All the configuration resources should be in this section.-->
	<Property name="MSCPSWSUser" value="MSCPSWS_User" />
	<Property name="MSCPSWSUserPassword" value="4FK_H##3CL1ka" />
	<!-- Test suite MS-CPSWS section ends. -->
	
	<!-- Test suite MS-WSSREST section begins. All the configuration resources should be in this section.-->
	<Property name="MSWSSRESTSiteCollectionName" value="MSWSSREST_SiteCollection" />
	<Property name="MSWSSRESTCalendar" value="MSWSSREST_Calendar" />
	<Property name="MSWSSRESTDocumentLibrary" value="MSWSSREST_DocumentLibrary" />
	<Property name="MSWSSRESTDiscussionBoard" value="MSWSSREST_DiscussionBoard" />
	<Property name="MSWSSRESTGenericList" value="MSWSSREST_GenericList" />
	<Property name="MSWSSRESTSurvey" value="MSWSSREST_Survey" />
	<Property name="MSWSSRESTWorkflowHistoryList" value="MSWSSREST_WorkflowHistoryList" />
	<Property name="MSWSSRESTWorkflowTaskList" value="MSWSSREST_Tasks" />
	<Property name="MSWSSRESTWorkflowName" value="MSWSSREST_Workflow" />
	<Property name="MSWSSRESTBooleanFieldName" value="MSWSSREST_BooleanField" />
	<Property name="MSWSSRESTChoiceFieldName" value="MSWSSREST_ChoiceField" />
	<Property name="MSWSSRESTCurrencyFieldName" value="MSWSSREST_CurrencyField" />
	<Property name="MSWSSRESTGridChoiceFieldName" value="MSWSSREST_GridChoiceField" />
	<Property name="MSWSSRESTIntegerFieldName" value="MSWSSREST_IntegerField" />
	<Property name="MSWSSRESTMultiChoiceFieldName" value="MSWSSREST_MultiChoiceField" />
	<Property name="MSWSSRESTNumberFieldName" value="MSWSSREST_NumberField" />
	<Property name="MSWSSRESTUrlFieldName" value="MSWSSREST_URLField" />
	<Property name="MSWSSRESTPageSeparatorFieldName" value="MSWSSREST_PageSeparatorField" />
	<Property name="MSWSSRESTWorkFlowEventTypeFieldName" value="MSWSSREST_WorkFlowEventTypeField" />
	<Property name="MSWSSRESTLookupFieldName" value="MSWSSREST_LookupField" />
	<Property name="MSWSSREST_SingleChoiceOptions" value="MSWSSREST_SingleChoiceOption1,MSWSSREST_SingleChoiceOption2" />
	<Property name="MSWSSREST_MultiChoiceOptions" value="MSWSSREST_MultiChoiceOption1,MSWSSREST_MultiChoiceOption2" />
	<!-- Test suite MS-WSSREST section ends. -->
	
    <!-- Test suite MS-COPYS section begins. All the configuration resources should be in this section.-->
	<Property name="MSCOPYSSiteCollectionName" value="MSCOPYS_SiteCollection" />
	<Property name="MSCOPYSSubSite" value="MSCOPYS_SubSiteMeetingWorkspace" />
	<Property name="MSCOPYSSubSiteDocumentLibrary" value="MSCOPYS_SubSiteDocumentLibrary" />
	<Property name="MSCOPYSSourceDocumentLibrary" value="MSCOPYS_SourceDocumentLibrary" />
	<Property name="MSCOPYSDestinationDocumentLibrary" value="MSCOPYS_DestinationDocumentLibrary" />
	<Property name="MSCOPYSTextFieldName" value="MSCOPYS_TestReadOnlyField" />
	<Property name="MSCOPYSWorkFlowEventFieldName" value="MSCOPYS_WorkFlowEventField" />
	<Property name="MSCOPYSSourceLibraryFieldValue" value="MSCOPYS_Source" />
	<Property name="MSCOPYSDestinationLibraryFieldValue" value="MSCOPYS_Destination" />
	<Property name="MSCOPYSTestData" value="MSCOPYS_SourceFile.txt" />
	<Property name="MSCOPYSTestContent" value="MSCOPYS_SourceFile" />
	<Property name="MSCOPYSEditUser" value="MSCOPYS_EditUser" />
 	<Property name="MSCOPYSEditUserPassword" value="4FK_H##3CL1ka" />
	<Property name="MSCOPYSNoPermissionUser" value="MSCOPYS_limitUser" />
	<Property name="MSCOPYSNoPermissionUserPassword" value="4FK_H##3CL1ka" />	
    <!-- Test suite MS-COPYS section ends. -->
  </Properties>
</TestSite>
