<?xml version="1.0" encoding="utf-8" ?>
<TestSite xmlns="http://schemas.microsoft.com/windows/ProtocolsTest/2007/07/TestConfig"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Properties>
    <!--Primary SUT configuration resources section.-->
    <!-- Common section begins. All the configuration resources should be in this section.-->
    <Property name="defaultPublicFolderDatabaseOnPrimarySUT" value="PublicFolderDatabase" />
    <!--The value of defaultPublicFolderMailboxPrefixOnPrimarySUT will be used to form default Public Folder Mailbox.
        For example: PublicFolderMailbox_$sutComputerName, $sutComputerName is the name of primary SUT.-->
    <Property name="defaultPublicFolderMailboxPrefixOnPrimarySUT" value="PublicFolderMailbox_" />
    <!-- Common section ends. -->

    <!-- Test suite MS-OXCFOLD section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCFOLDCommonUser" value="MSOXCFOLD_TestUser01" />
    <Property name="MSOXCFOLDCommonUserPassword" value="9F(9s7*737iPt" />
    <Property name="MSOXCFOLDAdminUser" value="MSOXCFOLD_TestUser02" />
    <Property name="MSOXCFOLDAdminUserPassword" value="%N98eL6Qal9=5" />
    <Property name="MSOXCFOLDPublicFolderMailEnabled" value="MSOXCFOLD_PublicFolderMailEnabled" />
    <!-- Test suite MS-OXCFOLD section ends. -->

    <!-- Test suite MS-OXCFXICS section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCFXICSAdminUser" value="MSOXCFXICS_TestUser" />
    <Property name="MSOXCFXICSAdminUserPassword" value="0!rsP{NZTfK7#" />
    <Property name="MSOXCFXICSGhostedPublicFolder" value="MSOXCFXICS_GhostedPublicFolder" />
    <Property name="MSOXCFXICSPublicFolder" value="MSOXCFXICS_PublicFolder01" />
    <!-- Test suite MS-OXCFXICS section ends. -->

    <!-- Test suite MS-OXCMAPIHTTP section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCMAPIHTTPAdminUser" value="MSOXCMAPIHTTP_User01" />
    <Property name="MSOXCMAPIHTTPAdminUserPassword" value="}mPmzL4G8VFfC" />
    <Property name="MSOXCMAPIHTTPGeneralUser" value="MSOXCMAPIHTTP_User02" />
    <Property name="MSOXCMAPIHTTPGeneralUserPassword" value="V|WLaM)86vODB" />
    <Property name="MSOXCMAPIHTTPDistributionGroup" value="MSOXCMAPIHTTP_ATDG01" />
    <!-- Test suite MS-OXCMAPIHTTP section ends. -->

    <!-- Test suite MS-OXCMSG section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCMSGCommonUser" value="MSOXCMSG_TestUser01" />
    <Property name="MSOXCMSGCommonUserPassword" value="{_9AbpC655q5+" />
    <Property name="MSOXCMSGAdminUser" value="MSOXCMSG_TestUser02" />
    <Property name="MSOXCMSGAdminUserPassword" value="1f\j8f09iN63m" />
    <!-- Test suite MS-OXCMSG section ends. -->

    <!-- Test suite MS-OXCNOTIF section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCNOTIFUser" value="MSOXCNOTIF_TestUser" />
    <Property name="MSOXCNOTIFUserPassword" value="R_TFvoC0f7rnp" />
    <Property name="MSOXCNOTIFNotificationPort" value="8889" />
    <!-- Test suite MS-OXCNOTIF section ends. -->
    
    <!-- Test suite MS-OXCPERM section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCPERMUser1" value="MSOXCPERM_TestUser01" />
    <Property name="MSOXCPERMUser1Password" value="beK}bI{C0Y02D" />
    <Property name="MSOXCPERMUser2" value="MSOXCPERM_TestUser" />
    <Property name="MSOXCPERMUser2Password" value="z2Zm8*dh#!lXp" />
    <!-- Test suite MS-OXCPERM section ends. -->

    <!-- Test suite MS-OXCPRPT section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCPRPTUser" value="MSOXCPRPT_TestUser" />
    <Property name="MSOXCPRPTUserPassword" value="a$1Bly4I7+Eyo" />
    <Property name="MSOXCPRPTPublicFolder" value="MSOXCPRPT_PublicFolder01" />
    <!-- Test suite MS-OXCPRPT section ends. -->

    <!-- Test suite MS-OXCROPS section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCROPSUser" value="MSOXCROPS_TestUser" />
    <Property name="MSOXCROPSUserPassword" value="4)Re(esB2v5kL" />
    <Property name="MSOXCROPSEmailAlias" value="MSOXCROPS_TestUser01" />
    <Property name="MSOXCROPSEmailAliasPassword" value="ghg+!VqFqFm6*" />
    <!-- Test suite MS-OXCROPS section ends. -->

    <!-- Test suite MS-OXCRPC section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCRPCNormalUser" value="MSOXCRPC_TestUser01" />
    <Property name="MSOXCRPCNormalUserPassword" value="f38yF]7iyfsfz" />
    <Property name="MSOXCRPCAdminUser" value="MSOXCRPC_TestUser" />
    <Property name="MSOXCRPCAdminUserPassword" value="[Ww4{Iwa#Q6dw" />
    <Property name="MSOXCRPCNotificationPort" value="8888" />
    <!-- Test suite MS-OXCRPC section ends. -->

    <!-- Test suite MS-OXCSTOR section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCSTORUser" value="MSOXCSTOR_TestUser" />
    <Property name="MSOXCSTORUserPassword" value="9ZoL^ZCrZcYa%" />
    <Property name="MSOXCSTORMailboxOnServer1" value="MSOXCSTOR_TestUser01" />
    <Property name="MSOXCSTORMailboxOnServer1Password" value="zIZ(Qm6c(YG8W" />
    <Property name="MSOXCSTORDisableMailbox" value="MSOXCSTOR_TestUser03" />
    <Property name="MSOXCSTORDisableMailboxPassword" value="4SO3kO%iZ|U4X" />
    <!-- Test suite MS-OXCSTOR section ends. -->

    <!-- Test suite MS-OXCTABL section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCTABLSender1" value="MSOXCTABL_TestUser01" />
    <Property name="MSOXCTABLSender1Password" value="8TnL69Knv6DOk" />
    <Property name="MSOXCTABLSender2" value="MSOXCTABL_TestUser02" />
    <Property name="MSOXCTABLSender2Password" value="U_49ia7hr)dNB" />
    <!-- Test suite MS-OXCTABL section ends. -->

    <!-- Test suite MS-OXNSPI section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXNSPIUser1" value="MSOXNSPI_TestUser01" />
    <Property name="MSOXNSPIUser1Password" value="9a5#BF#X4LR9G" />
    <Property name="MSOXNSPIUser2" value="MSOXNSPI_TestUser02" />
    <Property name="MSOXNSPIUser2Password" value="1WQ()Ok_ukRtY" />
    <Property name="MSOXNSPIUser3" value="MSOXNSPI_TestUser" />
    <Property name="MSOXNSPIUser3Password" value="4FK_H##3CL1ka" />
    <Property name="MSOXNSPIPublicFolderMailEnabled" value="MSOXNSPI_PublicFolderMailEnabled" />
    <Property name="MSOXNSPIDynamicDistributionGroup" value="MSOXNSPI_ADDG01" />
    <Property name="MSOXNSPIDistributionGroup" value="MSOXNSPI_ATDG01" />
    <Property name="MSOXNSPIMailContact" value="MSOXNSPI_MailContact01" />
    <!-- Test suite MS-OXNSPI section ends. -->

    <!-- Test suite MS-OXORULE section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXORULEUser1" value="MSOXORULE_TestUser01" />
    <Property name="MSOXORULEUser1Password" value="Im()!vFE3JkHK" />
    <Property name="MSOXORULEUser2" value="MSOXORULE_TestUser02" />
    <Property name="MSOXORULEUser2Password" value="9vi)jO8P(fhWW" />
    <!-- Test suite MS-OXORULE section ends. -->
    
    <!--Primary SUT configuration resources section ends.-->

    <!--Second SUT configuration resources section.-->
    <!-- Common section begins. All the configuration resources should be in this section.-->
    <Property name="defaultPublicFolderDatabaseOnSecondSUT" value="PublicFolderDatabase2" />
    <!--The value of defaultPublicFolderMailboxPrefixOnSecondSUT will be used to form default Public Folder Mailbox.
        For example: PublicFolderMailbox_$sutComputerName, $sutComputerName is the name of second SUT.-->
    <Property name="defaultPublicFolderMailboxPrefixOnSecondSUT" value="PublicFolderMailbox_" />
    <!-- Common section ends. -->

    <!-- Test suite MS-OXCFOLD section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCFOLDPublicFolderGhosted" value="MSOXCFOLD_PublicFolderGhosted" />
    <!-- Test suite MS-OXCFOLD section ends. -->
    
    <!-- Test suite MS-OXCROPS section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCROPSPublicFolderGhosted" value="MSOXCROPS_PublicFolderGhosted" />
    <!-- Test suite MS-OXCROPS section ends. -->

    <!-- Test suite MS-OXCFXICS section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCFXICSUser2" value="MSOXCFXICS_TestUser2" />
    <Property name="MSOXCFXICSUser2Password" value="FKV_+NBa681fL" />    
    <!-- Test suite MS-OXCFXICS section ends. -->

    <!-- Test suite MS-OXCSTOR section begins. All the configuration resources should be in this section.-->
    <Property name="MSOXCSTORMailboxOnServer2" value="MSOXCSTOR_TestUser02" />
    <Property name="MSOXCSTORMailboxOnServer2Password" value="sPf*#_5+hvph03" />
    <!-- Test suite MS-OXCSTOR section ends. -->

    <!--Second SUT configuration resources section ends.-->
  </Properties>
</TestSite>
