<?xml version="1.0" encoding="utf-8" ?>
<TestSite xmlns="http://schemas.microsoft.com/windows/ProtocolsTest/2007/07/TestConfig"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Note: The property values are case insensitive unless otherwise specified. -->
  <Properties>    
	<!-- Test suite common section begins. All the common configuration resources should be in this section.-->
    <Property name="User1" value="User1" />    
    <Property name="User1Password" value="Ap6zF1#uP4l-+" />
    <Property name="User2" value="User2" /> 
    <Property name="User2Password" value="Ap6zF1#uP4l-+" />
	<Property name="User3" value="User3" />
	<Property name="User3Password" value="Ap6zF1#uP4l-+" />
	<Property name="ReadOnlyUser" value="ReadOnlyUser" />
	<Property name="ReadOnlyUserPassword" value="Ap6zF1#uP4l-+" />
	<Property name="NoUseRemoteUser" value="NoUseRemoteUser" />
	<Property name="NoUseRemoteUserUserPs" value="Ap6zF1#uP4l-+" />
	<Property name="FileSyncWOPIUser" value="FileSyncWOPIUser" />
	<Property name="FileSyncWOPIUserPassword" value="Ap6zF1#uP4l-+" />
	<Property name="FileSyncWOPIBigTestData1" value="FileSyncWOPIBigTest.txt" />	
    <!-- Test suite common section ends. -->

    <!-- Test suite MS-FSSHTTPFSSHTTPB section begins. All the configuration resources should be in this section.-->
    <Property name="MSFSSHTTPFSSHTTPBSiteCollectionName" value="MSFSSHTTPFSSHTTPB_SiteCollection" />
    <Property name="MSFSSHTTPFSSHTTPBDocumentLibrary" value="MSFSSHTTPFSSHTTPB_DocumentLibrary" />
    <Property name="MSFSSHTTPFSSHTTPBZipTestData2" value="FileSyncWOPI_ZipTestData.zip" />
    <Property name="MSFSSHTTPFSSHTTPBTestData3" value="FileSyncWOPI_TestData.txt" />
    <Property name="MSFSSHTTPFSSHTTPBTestData4" value="FileSyncWOPI_OneNoteWithODB.one" />  
	<Property name="MSFSSHTTPFSSHTTPBNoUseRemotePermissionLevel" value="NoUseRemoteInterfacePermissionLevel" />	
    <!-- Test suite MS-FSSHTTPFSSHTTPB section ends. -->
	
    <!-- Test suite MS-WOPI section begins. All the configuration resources should be in this section.-->
    <Property name="MSWOPISiteCollectionName" value="MSWOPI_SiteCollection" />
    <Property name="MSWOPISharedDocumentLibrary" value="MSWOPI_SharedDocumentLibrary" />
    <Property name="MSWOPISharedZipTestData2" value="FileSyncWOPI_ZipTestData.zip" />
    <Property name="MSWOPISharedTestData3" value="FileSyncWOPI_TestData.txt" />
    <Property name="MSWOPISharedTestData4" value="FileSyncWOPI_OneNoteWithODB.one" />
    <Property name="MSWOPIDocumentLibrary" value="MSWOPI_DocumentLibrary" />
    <Property name="MSWOPITestFolder" value="MSWOPI_TestFolder" />
    <Property name="MSWOPITestData1" value="MSWOPI_TestData1.txt" />
    <Property name="MSWOPITestData2" value="MSWOPI_TestData2.txt" />
    <Property name="MSWOPITargetAppWithNotGroupAndWindows" value="MSWOPI_TargetAppWithNotGroupAndWindows" />
    <Property name="MSWOPITargetAppWithGroupAndNoWindows" value="MSWOPI_TargetAppWithGroupAndNoWindows" />
	<Property name="MSWOPIUserCredentialItem" value="MSWOPIUser" />
	<Property name="MSWOPIPasswordCredentialItem" value="Ap6zF1#uP4l-+" />
	<Property name="MSWOPIFolderCreatedByUser1" value="MSWOPI_TestFolderCreatedByUser1" />
	<Property name="MSWOPINoUseRemotePermissionLevel" value="NoUseRemoteInterfacePermissionLevel" />	
    <!-- Test suite MS-WOPI section ends. -->

    <!-- Test suite MS-ONESTORE section begins. All the configuration resources should be in this section.-->
    <Property name="SiteCollectionName" value="MSONESTORE_SiteCollection" />
    <Property name="MSONESTORELibraryName" value="MSONESTORE_DocumentLibrary" />
    <Property name="OneFileWithFileData" value="OneWithFileData.one"/>
    <Property name="OneFileWithoutFileData" value="OneWithoutFileData.one"/>
    <Property name="OneFileEncryption" value="Encryption.one"/>
    <Property name="OneWithInvalid" value="InvalidData.one"/>
    <Property name="OneWithLarge" value="LargeData.one"/>
    <Property name="OnetocFileLocal" value="Open Notebook.onetoc2"/>
    <Property name="NoSectionFile" value="NoSection.onetoc2"/>
    <!-- Test suite MS-ONESTORE section ends. -->

  </Properties>
</TestSite>
